<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add to Cart</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <section class="cart">
        <p class="sale">SALE</p>
        <h1 class="title">Converse Chuck Taylor All Start Low Top</h1>
        <main>
            <img src="./challenges.jpg" alt="">
            <div class="product-price">
                <div class="prices">
                    <p>$65.00</p>
                    <p>FREE SHIPPING</p>
                </div>
                <p class="description">
                    Ready to dress up or down, these classic canvas Chucks are an everyday wardrobe staple.
                </p>
                <p class="links">
                    <a href="">More Information &rAarr;</a>
                </p>
                <ul class="colors">
                    <li class="c1"></p>
                    <li class="c2"></p>
                    <li class="c3"></p>
                    <li class="c4"></p>
                    <li class="c5"></p>
                    <li class="c6"></p>
                </ul>
            </div>
            <div class="product-detail">
                <h2>Product Detils</h2>
                <ul>
                    <li>Lightweight, Durable canvas sneaker</li>
                    <li>Lightly padded footbed for added confort</li>
                    <li>Iconic chunk tailor ankle patch.</li>
                </ul>
            </div>
        </main>
        <h1 class="footer">Add To Cart</h1>
    </section>
</body>
</html>