<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>Nav</nav>
    <menu>
        <ul>
            <li><button> new</button></li>
            <li><button> forward</button></li>
            <li><button> reply</button></li>
            <li><button> mark unread</button></li>
        </ul>
        <button>
            Trash
        </button>
    </menu>
    <section>
        <p>Email 1</p>
        <p>Email 2</p>
        <p>Email 3</p>
        <p>Email 4</p>
        <p>Email 5</p>
        <p>Email 6</p>
        <p>Email 7</p>
        <p>Email 8</p>
        <p>Email 9</p>
        <p>Email 10</p>
        <p>Email 11</p>
        <p>Email 12</p>
        <p>Email 13</p>
        <p>Email 14</p>
    </section>
    <main> Email View </main>
    <aside> Additional info </aside>
</body>
</html>